.scroll-pane .text{
	-fx-fill: #FDFDFD;
	-fx-text-alignment: center;
}

.profile-pane{
	-fx-background-color: #fdfdfd;
	-fx-border-color: #c4c4c4 ;
	-fx-border-width: 0 0 3 0;
	
}
 .main-text{
	-fx-fill: #3b3b3b;
	-fx-font-size: 2em;
	-fx-text-alignment: center;
	
}
 .description{
	-fx-font: normal italic 1.5em "Arial";
}
.scroll-pane .button{
	-fx-background-color: transparent;
}
.button{
	-fx-background-color: Mcolor;
	-fx-text-fill: textColorL;
	-fx-effect: innershadow(three-pass-box, shadow, 4,0,0,-4);
	-fx-background-radius: 25;
	-fx-font-size: 1.25em; 
	-fx-border-radius:25;
}

.button:hover {
	-fx-effect: innershadow(three-pass-box, shadow, 4, 0, 0, 4);
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, Lcolor, Dcolor);
}
.button:pressed {
	-fx-background-color: radial-gradient(center 50% 50%, radius 100%, Dcolor, Lcolor);
    -fx-effect: innershadow(three-pass-box, shadow, 4, 0, 0, 4);
    -fx-border-color: lightGrey;
    -fx-border-width: 1.5;
}
.menu-button{
	-fx-background-color: textColorD;
	-fx-shape: "M0 14.1667V17H23V14.1667H0ZM0 7.08333V9.91667H23V7.08333H0ZM0 0V2.83333H23V0H0Z";
}
.profile-pic{
	-fx-background-color: Dcolor;
	-fx-background-image: url("../../../resource/ProfilePageImages/travelers.png");
	-fx-background-size: cover;
	-fx-shape: "M 25, 50 a 25,25 0 1,1 50,0 a 25,25 0 1,1 -50,0 Z";
	-fx-border-color: linear-gradient(to bottom, Dcolor 0%, #FFA490 49%, Mcolor 50%, Lcolor 100%);
	-fx-border-width: 2;
}