.add-travel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 34.1875em;
    padding-right: 2em;
    height: 38.75em;
    overflow: scroll;
    background-color: rgba(252, 220, 200, 0.5);
    border-radius: 2em;
}
.text{
    font: normal normal 1em "Arial";
	color: var(--textColorL);
}
.stepButton{
	/*classe css degli step button*/
}
.errorElements{
	border: 0.2em solid red;
}
.add-text{
    width:14.9375em;
    height: 2.125em;
    background-color: transparent;
	border: 0.2em solid lightGrey;
	border-radius: 2em;
	color: var(--textColorL);
}
.area{
    width: 25em;
    height: 6.25em;
}
.line{
    margin-bottom: 2em;
    margin-top:2em;
    display:flex;
    justify-content: space-between;
}

.check{
    margin-left: 1em;
}
.add-button{
    padding: 0px;
    width: 6.5625em;
    height: 2.4375em;
    background-color: var(--Mcolor);
	color: var(--textColorL);
	/*-fx-effect: innershadow(three-pass-box, shadow, 4,0,0,-4);*/
	font-size: 1.25em; 
    border-radius:25px;
    border: none;
    margin-bottom: 1.5em;
}
.submit{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.photo-grid{
    width:33.125em;
    height:11.25em;
    margin-bottom: 2em;
    margin-top:2em;
    border: 1px solid seagreen;
}
#steps{
    width: 26.25em;
    height:3.125em;
    border: 1px solid seagreen;
}