.profile-panel{
    box-sizing: content-box;
    width: 37em;
    height: 18.75em;
    background-color: #fdfdfd;
    position: relative;
    bottom: 1.65em;
    right: 1.6em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.other-panel{
    position: static;
    background-color: transparent;

}
.image{
    border: 0.2em solid var(--Dcolor);
    border-radius: 12.5em;
}
.v{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.us{
    color: #3b3b3b;
	font: normal normal 2em Arial, Sans-serif;
}
.ds{
    font: normal italic 1em Arial, Sans-serif;
}
#p-menubar{
    position: relative;
    bottom:2.35em;
    border-top: 0.2em solid var(--lightGrey);
}
#right-panel{
    display:flex;
    background-color: var(--Mcolor);
    overflow: scroll;
    border-radius:  1.875em;
    align-items: center;
    justify-content: flex-start;
    padding-bottom:1em;
}
.map{
    background-image: url(../resource/cartina-no-sfondo.png);
    width: 17.8125em;
    height: 10em;
    background-size: cover;
    box-sizing: border-box;
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panelProfile{
	position: absolute;
	width: 19.09375em;
    height: 36.9375em;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
	justify-content: space-evenly;
}
#chooseIm{
	position: relative;
	left: -10em;
	opacity: 0;
}

.text{
    font: normal normal 1em Arial,Sans-serif;
    color: var(--textColorD);
    width: 10em;
}
#bottom{
    display: flex;
    justify-content: space-evenly;
}
#l-bottom{
    display: flex;
    width: 13.5em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.profile-button{
    width: 7.6875em;
    height: 3.5625em;
    background-color: var(--Mcolor);
	color: var(--textColorL);
	/*-fx-effect: innershadow(three-pass-box, shadow, 4,0,0,-4);*/
	font-size: 0.75em; 
    border-radius:25px;
    border:none;
}

.profile-button:hover {
	/*-fx-effect: innershadow(three-pass-box, shadow, 4, 0, 0, 4);*/
    background-color: var(--Dcolor);
}
.profile-button:focus {
	background-color: radial-gradient(center 50% 50%, radius 100%, var(--Dcolor), var(--Lcolor));
    /*-fx-effect: innershadow(three-pass-box, shadow, 4, 0, 0, 4);*/
    border: 1.5px solid var(--lightGrey);
}
.fav-button{
    width: 3.125em;
    height: 3.125em;
    border-radius: 3.125em;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input {
  width: 2em;
  height:2em;
  top:-7.5em;
  margin-left: 1.5em;
  background: var(--Mcolor);
  border: 1px solid var(--textColorL);

}
.followPanel{
	border-bottom: 1px solid var(--lightGrey);
	display:flex;
	width:20em;
	align-items:center;
	justify-content: space-evenly;
}
.show{
	background: var(--Mcolor);
	position: absolute;
	display:flex;
	flex-direction: column;
	height: 38.9375em;
	top: 6em;
}
.show-title{
	border-bottom: 2px solid var(--lightGrey);
	height: 3em;
}
.s-back-button{
	margin: 0.5em;
	width: 2.5em;
	height:2em;
	display:flex;
	align-items:center;
	justify-content:center;
	background:transparent;
	border:none;
}
#logoutButton{
	position:absolute;
	top:2em;
	left:2em;
	background-color:transparent;
	color:var(--textColorD);
	opacity:1;
	border: 1px solid var(--Mcolor);
	
}
.follow{
	position:absolute;
	top: 13em;
	left:3em;
	background-color:transparent;
	color:var(--textColorD);
	border: 0px solid transparent;
}

