.top{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width:35.9125em;
}
.panel2{
	position:absolute;
	top:9em;
	left:2em;
}
.back2{
	position:absolute;
	top:-3em;
}
.bot{
    background-color: bisque;
    width: 34.6875em;
    height: 14.3125em;
}
#travel{
    border-bottom: 1px solid var(--lightGrey);
    border-radius: 25px 25px 0px 0px;
    background-color: #FDFDFD;
    width:34.8125em;
    height:11em;
    display: flex;
}
.days{
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}
.days button{
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}
.share {
	opacity: 0;
}
.days button:hover{
	background-color: #ddd;
}
.days button.active{
	background-color: #ccc;
}
.tabcontent{
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	position: absolute;
}
.fotoDiv{
	display:flex;
}
#label{
    width:17.40625em;
    height:8.375em;
    background-color: var(--Dcolor);
    border-radius: 0px 0px 25px 25px;
}
.bb{
    background-color: #FDFDFD;
    width:17.40625em;
    height:3.9375em;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0px 0px 30px 0px;
    align-items: center;
}
.bb-button{
    width:2.1875em;
    height:2.1875em;
    background-color: var(--textColorD);
}
#right-panel{
    background-color:  rgba(252, 220, 200, 0.5);
    border-radius:30px;
    overflow: scroll;
    position: absolute;
    top: 9em;
    left: 40em;
}