.top{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width:35.9125em;
}
.panel2{
	position:absolute;
	top:9em;
	left:2em;
	
}
.back2{
	position:absolute;
	top:-3em;
}
.bot{
	display: flex;
	flex-direction: column;
    background-color: var(--Mcolor);
    width: 34.6875em;
    height: 14.3125em;
   align-items: stretch;
   justify-content: flex-start;
   border: 1px solid var(--lightGrey);
}
#travel{
    border-bottom: 1px solid var(--lightGrey);
    border-radius: 25px 25px 0px 0px;
    background-color: #FDFDFD;
    width:34.8125em;
    height:11em;
    display: flex;
}


.tablinks{
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}
.share {
	opacity: 0;
	background-color: rgba(252, 220, 200, 0.5);
	position: absolute;
	left: 30em;
	top: 23.5em;
	display: flex;
	height: 25em;
	flex-direction: column;
}
.shareableElements{
	display: inline;
}
.days{
	background: #FDFDFD;
}
.tablinks:hover{
	background-color: var(--Mcolor);
}
.tablinks.active{
	background-color: var(--Dcolor);
	overflow: hidden;
}
.tabcontent{
	display: none;
	border-bottom: 0.2em solid var(--Dcolor);
	border-top: none;
	margin-top: 3em;
	padding: 0.5em;
	
	width: 33.6875em;
	height: 3em;
   
}

#label{
    width:17.40625em;
    height:8.375em;
    background-color: var(--Dcolor);
    border-radius: 0px 0px 25px 25px;
}
.bb{
    background-color: #FDFDFD;
    width:17.40625em;
    height:3.9375em;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0px 0px 30px 0px;
    align-items: center;
}
.bb-button{
    width:2.1875em;
    height:2.1875em;
    background-color: transparent;
	border: 0px solid transparent;
	color: var(--textColorD);
}
.select{
	color: var(--Dcolor);
}
#right-panel{
    background-color:  rgba(252, 220, 200, 0.5);
    border-radius:30px;
    overflow: scroll;
    position: absolute;
    top: 9em;
    left: 40em;
}
.fotoDiv{
	background: var(--Mcolor);
	display:flex;
	width: 32em;
	justify-content: space-evenly;
	height: 10em;
	overflow: scroll;
	margin-left: 2em;
	align-items: center;
}
#background{
	border-radius: 30px 0px 0px 0px;
}
#step-title{
	color: var(--Dcolor);
	font: bold normal 2em Arial,Sans-serif;
	margin-left: 2em;
}
.descr{
	margin-left: 2em;
	font: normal normal 1.25em Arial,Sans-serif;
	color:var(--textColorD);
}
.prec{
	font-weight:bold;
}