<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Display a map</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js"></script>
<link href="https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css" rel="stylesheet" />
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
<script>
function init(){
    
    L.mapbox.accessToken="INSERT_HERE_YOUR_TOKEN";
    const map= L.mapbox.map('map').setView([41.89306,12.48278],10);
    L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11').addTo(map);
    L.marker([41.89306,12.48278]).addTo(map);
    L.marker([	43.7874, 11.2499]).addTo(map);
    L.marker([40.863, 14.2767]).addTo(map);
    var polyline=L.polyline([[41.89306,12.48278],[	43.7874, 11.2499],[40.863, 14.2767]],{color: 'white'}).addTo(map);
    map.fitBounds(polyline.getBounds());
}
function addMarker(lat,lon){
	L.marker([lat,lon]).addTo(map);
}
function drawPath(points){
	//Points must be an array of LatLng elements
	var polyline=L.polyline(points, {color: 'red'}).addTo(map);
	//set map view on the path beautiful.
	map.fitBounds(polyline.getBounds());
}
	
</script>
</head>
<body>
<h1>Test mapbox</h1>
<div id="map"></div>

 
</body>
</html>
