<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Display a map</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js"></script>
<link href="https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css" rel="stylesheet" />
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
<script>
var map;
var polyline;
function init(token){
    
    L.mapbox.accessToken=token;
    map= L.mapbox.map('map').setView([41.89306,12.48278],10);
    L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11').addTo(map);
    
}
function addMarker(coordinates,description,icon,start){
	var color;
	if(start){
		color="#FF0000";
	}
	else{
		color="#0000FF";
	}
	if(icon=="null"){
		icon="marker";
	}
	var marker=L.marker(coordinates, {
		icon: L.mapbox.marker.icon({
			'marker-size': 'large',
	        'marker-symbol': icon,
	        'marker-color': color
		})
	}).addTo(map);
	var content="<p>"+String(description)+"</p>";
	marker.bindPopup(content);
	marker.getPopup().closeOnClik=false;
	marker.on('click',function(e){
		marker.openPopup();
	});
	
}
function drawPath(points){
	//Points must be an array of LatLng elements
	var polyline=L.polyline(points, {color: 'white'}).addTo(map);
	//set map view on the path beautiful.
	map.fitBounds(polyline.getBounds());
}
	
</script>
</head>
<body>
<h1>Test mapbox</h1>
<div id="map"></div>

 
</body>
</html>
